{%if transactions%}
        <title>{{title}}</title>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                <th>Transaction ID</th>
                <th>Account ID</th>
                <th>Amount</th>
                <th>Action</th>
                <th>Transfer account id</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {%for transaction in transactions%}
                <tr>
                    <td>{{transaction.transaction_id}}</td>
                    <td>{{transaction.account_id}}</td>
                    <td>{{transaction.amount}}</td>
                    {%if transaction.deposit==1%}
                        <td>Deposit</td>
                        <td>Nothing</td>
                    {%endif%}
                    {%if transaction.deposit==0 and transaction.transfer==0%}
                        <td>Withdraw</td>
                        <td>Nothing</td>
                        
                    {%endif%}
                    {%if transaction.transfer==1%}
                        <td>Transfer</td>
                        <td>{{transaction.transfer_account_id}}</td>
                    {%endif%}   
                    <td>{{transaction.action_date}}</td>    
                </tr>
            {%endfor%}
            </tbody>
        </table>
        {%endif%}